/* App {
  text-align: center;
  height: 5000px;
} */

.scrollTop {
  position: fixed; 
  width: 180%;
  bottom: 70px;
  align-items: flex-end !important;
  height: 20px;
  justify-content: flex-end !important;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 2s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}